
  button{
    background-color: green;
    border-radius: 15px;
    padding: 16px;
  }

  label{
    color: navy;
    font-size: x-large;
  }
 .form-group{
   border-radius: 15px;
   padding: 15px;
 }
 